// Define variables for your color scheme

// For example:
/* $red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000; */


$font-light-gray: #C5C5C5;
$font-dark-gray: #4A4949;
$background-gray: #3D3F4F;
$peach: #FFAC8F;
$abricot: #FF8580;
$yellow-home: #FFCBA3;
$yellow: #FFC598;
$purple: #AB76DF;

