<input type="checkbox" id="navcheck" role="button" title="menu">
<label for="navcheck" id="navcheck-label" aria-hidden="true" title="menu">
  <span class="burger">
    <span class="bar">
      <span class="visuallyhidden">Menu</span>
    </span>
  </span>
</label>
<nav id="menu">
  <a href="#">Universaly</a>
  <%= link_to "Pratiquer", new_exercise_path %>
  <%= link_to "M'entraîner", words_path %>
  <a href="#">Mes paramètres</a>
  <a href="#">Mes trophées</a>
  <a href="#">Aide</a>
</nav>
