<div class="main-container-home">

  <div class="container-home" style="z-index: -1">

    <img src="https://res.cloudinary.com/dyrkwhhio/image/upload/v1606333816/Universaly/Universaly_logo_-_height_reduced_vg2jgz.png" alt="Logo d'Universaly">

    <div class="encart1">
      <p class="encart-chiffre1">1</p>
      <p class="encart-desc1" style="z-index: -1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
    </div>

    <div class="encart2">
      <p class="encart-chiffre2">2</p>
      <p class="encart-desc2" style="z-index: -1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
    </div>

    <div class="encart3">
      <p class="encart-chiffre3">3</p>
      <p class="encart-desc3" style="z-index: -1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
    </div>

    <div class="container-btn-home">
      <div class="button-signup"><%= link_to "Créer mon compte", new_user_registration_path %></div>
      <div class="button-login"><%= link_to "Me connecter", new_user_session_path %></div>
    </div>

  </div>

  <h1 class="home-slogan">"une porte ouverte sur le Monde"</h1>

  <div class="container-footer-home">
    <p>Anglais</p>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <p>Espagnol</p>
    <p>Allemand</p>
    <p>Mandarin</p>
    <p>Japonais</p>
    <p>Italien</p>
    <p>Portugais</p>
    <p>Russe</p>
    <p>Arabe</p>
  </div>
</div>



