#btn-cat1 {
  display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
  // padding: 12px 19px;

  // position: absolute;
  width: 187px;
  height: 79px;
  left: 1020px;
  top: 832px;

  background: linear-gradient(90deg, #CD71DA 4.81%, #FF8982 100%);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 10px;

  margin-bottom: 1rem;
  margin-top: 10px;
  margin-right: 10px;
  color: white;
}

#btn-cat2 {
  display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
  // padding: 12px 19px;

  // position: absolute;
  width: 187px;
  height: 79px;
  left: 1020px;
  top: 586px;

  background: linear-gradient(90deg, #FFC598 4.81%, #EF4384 100%);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 10px;
  color: white;
}

#btn-cat3 {
  display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
  // padding: 12px 19px;

  // position: absolute;
  width: 187px;
  height: 79px;
  left: 1020px;
  top: 586px;

  background: linear-gradient(90deg, #FFC598 4.81%, #FF8580 100%);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 10px;
  margin-right: 10px;
  color: white;
}

#btn-cat4 {
  display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
  // padding: 12px 19px;

  // position: absolute;
  width: 187px;
  height: 79px;
  left: 1020px;
  top: 586px;

  background: linear-gradient(90deg, #CD71DA 4.81%, #6281E7 100%);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 10px;
  color: white;
}

#btn-cat5 {
  display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
  // padding: 12px 19px;

  // position: absolute;
  width: 187px;
  height: 79px;
  left: 1020px;
  top: 586px;

  background: linear-gradient(90deg, #7B4EB2 4.81%, #6083E9 100%);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 10px;
  margin-right: 10px;
  color: white;
}

#btn-cat6 {
  display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
  // padding: 12px 19px;

  // position: absolute;
  width: 187px;
  height: 79px;
  left: 1020px;
  top: 586px;

  background: linear-gradient(90deg, #CD71DA 4.81%, #FF8982 100%);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 10px;
  color: white;
}

#btn-cat7 {
  display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
  // padding: 12px 19px;

  // position: absolute;
  width: 187px;
  height: 79px;
  left: 1020px;
  top: 586px;

  background: $font-light-gray;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 10px;
  color: white;
}

#btn-cat8 {
  display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
  // padding: 12px 19px;

  // position: absolute;
  width: 187px;
  height: 79px;
  left: 1020px;
  top: 586px;

  background: $font-light-gray;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 10px;
  color: white;
}
