.tag-selector-category {
  width: 10px;
  height: 10px;

  background: linear-gradient(90deg, #FFC598 4.81%, #EF4384 100%);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
