.btnpractice {
  height: 45px;
  width: 197px;
  left: 443px;
  top: 120px;
  border-radius: 20px;
  padding: 0px 50px;
  background: $yellow;
  color: $font-dark-gray;
}

.btnbibli {
  height: 45px;
  width: 197px;
  left: 443px;
  top: 120px;
  border-radius: 20px;
  padding: 0px 40px;
  background: $abricot;
  color: $font-dark-gray;
}

#maternelle {
  color: $font-light-gray;
}
