body {
  font-size: 1rem;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  background-color: #eafff0;
}
h1 {
  margin-top: 10px;
}
.button-confettis {
  margin:-25px;
  margin-top: 30px;
  font-size: 1em;
  padding: 0px 0px 0px 0px;
  // margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FF8FDE;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  // box-shadow: 0 2px 25px rgba(65, 189, 102, 0.7);
}
.button-confettis:focus {
  outline: 0;
}
*[data-confettis]:before,
*[data-confettis]:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
*[data-confettis]:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #e86baa 20%, transparent 20%), radial-gradient(circle, transparent 20%, #e8e86b 20%, transparent 30%), radial-gradient(circle, #ffc382 20%, transparent 20%), radial-gradient(circle, #e8e86b 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7975ff 15%, transparent 20%), radial-gradient(circle, #ffc382 20%, transparent 20%), radial-gradient(circle, #5bffa8 20%, transparent 20%), radial-gradient(circle, #e86baa 20%, transparent 20%), radial-gradient(circle, #5bffa8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
*[data-confettis]:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ffc382 20%, transparent 20%), radial-gradient(circle, #7975ff 20%, transparent 20%), radial-gradient(circle, transparent 10%, #e86baa 15%, transparent 20%), radial-gradient(circle, #e8e86b 20%, transparent 20%), radial-gradient(circle, #5bffa8 20%, transparent 20%), radial-gradient(circle, #e8e86b 20%, transparent 20%), radial-gradient(circle, #e86baa 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
*[data-confettis]:active {
  transform: scale(0.9);
  background-color: #38a659;
  box-shadow: 0 2px 25px rgba(56, 166, 89, 0.9);
}
*[data-confettis].confettis-on:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
*[data-confettis].confettis-on:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
