.form-signup-login {
  padding: 10px 20px;
  margin-top: 50px;
  a {
    color: $yellow;
  }
  abbr { 
    /* to remove .. under* when field required  */
    text-decoration: none !important;
  }
  h2 {
    margin-bottom: 20px;
  }
  .text-muted {
    color: $abricot !important;
  }
  #user_email, #user_password, #user_password_confirmation {
    border: white;
    border-radius: 40px;
    width: 352.8px;
  }
}

.wrapper {
  margin-bottom: -100px !important;
}