.fusee {
  width: 50px;
  padding: 10px 5px 5px 5px;
}

.stats {
  padding: 5px 15px;
}

.bouquin {
  width: 50px;
  padding: 3px 5px 5px 5px;
}

.categories {
  padding: 5px 15px;
}

.coupe {
  width: 50px;
  padding: 3px 5px 5px 5px;
}

.trophees {
  padding: 5px 15px;
}

.flamme {
  width: 25px;
  margin: 5px 0px 17px;
}

.drapeau {
  width: 50px;
  padding: 3px 5px 5px 5px;
}

.oui {
  margin: 2px 9px 5px -67px;
}

#VoirPlus {
  margin: 9px;
  color: $font-light-gray;
}
