// utiliser sur la homepage

.main-container {
  position: absolute;
}

@media (max-width: 960px) {
  .main-container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .main-container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .main-container {
    width: 300px;
  }
}