
.main-container-results {

}

.congrats {
  margin: 0px 0px 15px 0px;
  margin-bottom: 30px;
  color: white;

}

.words {
  margin: 0px 0px 15px 0px;
}

.new-words{
  margin: 0px 0px 15px 0px;
  width: 70%;
  height: 100%;

}

.word1 {
  display: flex;
  justify-content: between;
  align-items: center;
  margin: 0px 0px 15px 0px;
  height: 12vh;
  font: white;

}


#wordfrench {
  text-align: left;
}

#wordenglish {
  text-align: center;
  padding: 0px 15px 0px 0px;
}

#results {
  color: #628BFF;
}

.btn-end {
  position: relative;
  width: 100px;
  height: 100px;
  font-size: 15px;
  background-color: $abricot;
}

.photofinish {
  width: 300px;
  margin: 0px 75px;
}

#feloche {
  font-size: 1.5rem;
  text-align: center;
}

.modal-content {
  background-color: #88A7DE;
}

