.tag-item {
  display: inline-block;
  }

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  width: 170px;
  height: 70px;
  //width: 187px;
  //height: 79px;
  //margin: 0 auto;
  margin: 10px 30px 20px 0px;
  padding: 0;
  display: inline-block;
  line-height: 60px;
  font-size: 20px;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  //background: linear-gradient(90deg, #CD71DA 4.81%, #6281E7 100%);
  background: linear-gradient(90deg, #FFC598 4.81%, #EF4384 100%);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
  //background-color: #ECEAFF;
  color: $font-dark-gray;
  //border: 1px solid #7E73FF;
  //margin-right: 0.6rem;
  //margin-bottom: 0.4rem;
  //margin-right: 30px;
  //margin-bottom: 20px;
}

.tag-selector:checked + label {
  //background: linear-gradient(90deg, #CD71DA 4.81%, #FF8982 100%);
  background: linear-gradient(90deg, #CD71DA 4.81%, #6281E7 100%);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
  //background: linear-gradient(90deg, #FFC598 4.81%, red 100%);
  //background-color: #7E73FF;
  color: white;
  //border: 2px solid black;
}


.tag-selector-small + label {
  cursor: pointer;
  display: inline-block;
  width: 140px;
  height: 45px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  line-height: 40px;
  font-size: 15px;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  background: linear-gradient(90deg, #FFC598 4.81%, #EF4384 100%);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
  color: #4A4949;
}

.tag-selector-small:checked + label {
  //background: linear-gradient(90deg, #CD71DA 4.81%, #FF8982 100%);
  background: linear-gradient(90deg, #CD71DA 4.81%, #6281E7 100%);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
  //background: linear-gradient(90deg, #FFC598 4.81%, red 100%);
  //background-color: #7E73FF;
  color: white;
  //border: 2px solid black;
}
