// .div-card-word {
//   margin-right: 350px;
//   margin-left: 350px;
//   border: 2px solid $font-light-gray;
//   border-top-left-radius: 16px;
//   border-top-right-radius: 16px;
// }

.btn-link {
  color: white;
  font-size: 18px;
}

.btn-link:hover {
  text-decoration: none;
  color: white;
}

.button-previous-word {
  position: relative;
  left: 195px;
}
.button-next-word {
  position: relative;
  right: 205px;
}
.container-btn-words-show {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.front-card-words-show {
  width: 471px;
  height: 612px;
  padding: .5rem;
  border: 10px solid transparent;
  border-radius: 53px;
  background: linear-gradient(180deg, #3D3F4F 0%, #363846 100%), linear-gradient(180deg, #FFC598 4.81%, #EF4384 100%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(255, 255, 255, 0.1);
}

.none-border-words {
  background-color: transparent !important;
  border: 0px solid rgba(0, 0, 0, 0) !important;
}

.word-show-context {
  position: relative;
  /* left: 180px; */
  top: 191px;
  padding: 0 28px;
  color: white;
}

#row-word-show-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#word-show-description-requested {
    font-size: 18px;
    text-align: justify;
    line-height: 29px;
  }

.card-container-word {
//align-items: center;
}

.word-show-front {
  text-align: center;
  position: relative;
  top: 84px;
  color: white;
}

.div-card-word-translated {
  margin-top: 60px;
}

.div-card-word-translated hr {
  width: 120px;
  margin-top: 15px;
  background-color: white;
}

