<div class="main-container-results m-5 d-flex flex-column align-items-center">
  <div class="congrats d-flex justify-content-center">
    <h3>Félicications! Quels sont les mots que vous avez retenus?</h3>
  </div>
  <!-- <div class="words border d-flex justify-content-center">
    <h3>Quels sont les mots que vous avez retenus?</h3>
  </div> -->
  <div class="new-words">
      <% @exercise.flashcards.each do |flashcard| %>
        <div class=" word1 d-flex justify-content-between">
          <div>
            <p class="wordfrench"> <%= flashcard.word.word_requested %> </p>
          </div>
          <div>
            <p class="wordfrench"> <%= flashcard.word.word_translated %> </p>
          </div>
        <div class="background2">
          <div class="toggle-body">
          <div class="toggle-btn"></div>
        </div>
        </div>
      </div>
      <% end %>
  </div>
  <div class="congrats d-flex justify-content-center">
    <h3 id="results"></h3>
  </div>
  <div class>
  <%#= link_to "Mon dashboard", user_path(current_user), class: "button-confettis" %>
    <button type="button" class="btn-end btn-primary" data-toggle="modal" data-target="#exampleModal">J'ai fini</button>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>







